APP_NAME=payment-service
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8008

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres-payment
DB_PORT=5432
DB_DATABASE=paymentdb
DB_USERNAME=paymentuser
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

KAFKA_BROKERS=kafka:9093

JWT_SECRET=
JWT_ISSUER=auth-service
JWT_AUDIENCE=commerce-platform
